html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1{
    font-family: 'nyt-karnak';
    font-size: 3em;
    color: #df321b;
}

h2{
    font-family: 'nyt-karnak';
    font-size: 2.5em;
    color: #df321b;
}

h3{
    font-family: 'nyt-karnak';
    color: #df321b;
}

header{
    padding: 0.8em;
    margin: 4em, 1em, 4em;
    text-align: center;
    border: solid;
    border-radius: 1cm;
    border-color: grey;
}

body{
    background-color: #f1ead7c5;
}

main{
    margin: 4em;

    background-color: white;

    padding: 8em;

    text-align: justify;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid;
}

table *{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}