<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="styles.css">
    <script src="js/script.js" type="module"></script>
</head>
<body>
    <header>
        <h1>Web For Cooking</h1>
    </header>
    <form action="/users/authentication/register" method="post" id="login-container">
        <h2>Register to access the website</h2>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">First name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>
        <label for="email">E-mail address:</label>
        <input type="text" id="email" name="email" required>
        <label for="photo">Photo:</label>
        <input type="text" id="photo" name="photo">
        <label for="program">Program / Major:</label>
        <input type="text" id="program" name="program">
        <label for="hobbies">Hobbies:</label>
        <input type="text" id="hobbies" name="hobbies" required>
        <label for="courses">Courses:</label>
        <select name="courses" id="courses" required>
            <option value="Select">Select your Major</option>
            <% for (var i = 0; i < coursesList.length; i++) { %>
            <option><%= coursesList[i] %></option>
            <% } %>
        </select>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="button-style" type="submit">Register</button>
    </form>
</body>
</html>